node_modules/
.pnp
.pnp.js
.next/
dist/
build/
out/
.env
.env.local
.env.*.local
apps/api/prisma/migrations/*.sql
*.log
npm-debug.log*
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.override.yml
*.tsbuildinfo
*:Zone.Identifier
.claude/
