DATABASE_URL=postgresql://user:pass@localhost:5432/relay_db
RABBITMQ_URL=amqp://user:pass@localhost:5672
JUDGE0_URL=http://localhost:2358
JWT_SECRET=change-me-generate-with-openssl-rand-hex-32
CLIENT_ORIGIN=http://localhost:3000
REDIS_URL=redis://localhost:6379
PORT=4000
NODE_ENV=development
